/*цвет основного текста #212121*/
/* цвет вторичного текста #757575*/
/*белый цвет #FFFFFF*/
/* акцент #2196F3*/
/* цвет фона #e5e5e5 */
/* вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #e5e5e5;
  --secondary-primary-color: #f5f4fa;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --logo-color: #000000;
  --box-button: #f5f4fa;
}
ul {
  list-style: none;
}

.page {
  background-color: var(--primary-text-color);
  color: var(--title-text-color);
  font-family: Roboto;
}

.logo-company {
  color: var(--logo-color);
}
.first-part-logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact-information .link {
  color: var(--title-text-color);
}
.contact-information .link:hover,
.contact-information.link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero-title {
  color: var(--title-text-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* section */
.section-title {
  color: var(--title-text-color);
}
.feature-list .title {
  color: var(--title-text-color);
}
/*Section team */
.team-title {
  color: var(--title-text-color);
}
/* potfolio */
.button-section .link {
  background-color: var(--box-button);
  color: var(--title-text-color);
}
.button-section .link:hover,
.button-section .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
